* {
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body {
    background-image: url(assets/other-imgs/background-img.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-color: #05050B;
}

.grid404 {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 6.9vh 1500px 34vh;
    grid-template-areas: "nav"
        "section"
        "footer";
}

/* ERRO 404 HEADER */
section {
    margin-top: 25px;
    grid-area: section;
    flex-direction: column;
    height: 100%;
    display: flex;
    align-items: center;
}

#btnback {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 700;
    font-size: 22px;
    z-index: 3;
    box-sizing: border-box;
    position: relative;
    top: -100px;
    width: 215px;
    height: 50px;
    color: white;
    border: 2px solid #FFFFFF;
    border-radius: 8px;
    transition: 0.5s;
}

#btnback:hover {
    color: #6A10EA;
    border: 2px solid #6A10EA;
}

.back404 {
    z-index: 3;
    position: absolute;
    font-weight: 900;
    font-size: 55px;
    color: #FFFFFF;
}

.msg404 {
    position: absolute;
    width: 923px;
    height: 569px;
    z-index: 2;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 900;
    font-size: 500px;
    line-height: 600px;

    background: linear-gradient(293.13deg, rgba(255, 255, 255, 0.054) 33.06%, rgba(8, 81, 222, 0.3) 113.17%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

/* NAVBAR */
nav {
    display: flex;
    width: 100%;
    height: 6.9vh;
    overflow: hidden;
    align-items: center;
    grid-area: nav;
}

nav div {
    display: flex;
    align-items: center;
}

a {
    text-decoration: none;
}

.categories {
    margin-left: 7vw;
    order: 2;
}

.categories ul li {
    margin: 0px 10px;
    display: inline-block;
}

.navBtn {
    transition: 0.5s;
}

.navBtn:hover {
    color: #6A10EA;
}

.logo {
    margin-left: 20px;
    order: 1;
}

.icons {
    right: 0;
    position: absolute;
    margin-right: 20px;
    order: 3;
}

.nav_icon {
    margin: 0px 10px;
    width: 30px;
}

.searchbox {
    padding-left: 10px;
    transition: translate(-50% -50%);
    /*width: 20vw;*/
    background: none;
    border-radius: 8px;
    display: inline-block;
}

.searchbox:hover {
    background: linear-gradient(90deg, #6A10EA -2.36%, rgba(58, 0, 141, 0) 100.1%);
}

.searchbox:hover>.searchtxt {
    width: 25vw;
}


.searchtxt {
    position: relative;
    top: 5px;
    border: none;
    width: 0px;
    background: none;
    outline: none;
    align-self: center;
    padding: 0;
    transition: 0.4s;
    color: white;
    line-height: 20px;
}

.searchbtn {
    float: right;
}

::-webkit-input-placeholder {
    opacity: 0.5;
    color: white
}

/* COMMON */
.textwhite {
    color: white
}


footer {
    margin-top: 10vh;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    background: linear-gradient(360deg, #15002a 0%, rgba(3, 3, 3, 0) 80%);
    mix-blend-mode: normal;
    grid-area: footer;
}

footer div {
    margin-top: 150px;
}

.categoriesbtn {
    display: flex;
}

.categoriesbtn ul {
    color: white;
    display: flex;
    margin: 0px 30px;
    flex-direction: column;
}

.categoriesbtn ul li {
    display: inline-block;
}

.categoriesbtn ul li a {
    color: white;
    transition: 0.5s;
}

.categoriesbtn ul li a:hover {
    color: #6A10EA;
}

.li_title {
    font-weight: 800;
}

.socials {
    margin-left: 50px;
}

.socials a {
    margin: 0px 5px
}

.footerbrand {
    position: relative;
    top: -35px;
    margin-left: 50px;
}

/* header & products*/
header {
    width: 1841px;
    max-width: 90vw;
    height: 500px;

    background-image: url(assets/headers/Sneakers.png);
    background-size: cover;
    border-radius: 20px;
}

#titleprod {
    position: relative;
    right: 0px;
    font-weight: 800;
    font-size: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
    color: #FFFFFF;
}

.prodgrid {
    width: 930px;
    height: 560px;
    display: grid;
    grid-template-columns: repeat(5, 170px);
    grid-template-rows: repeat(3, 280px);
    grid-template-areas:
        "Card_1 Card_2 Card_3 Card_4"
        "BigCard1 BigCard1 BigCard2 BigCard2";
    gap: 20px;
}

/* CARD 01 */
.card01 {
    cursor: pointer;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    border-radius: 10px;
    width: 100%;
    height: 100%;
    object-fit: cover;
    background: #0C0C14;
    box-shadow: 5px rgba(0, 0, 0, 0.3);
    transition: 0.5s;
}

.card01:hover>.textcard h2 {
    color: #4A29A7;
}



.card01:hover>.textcard a {
    background-position: right;

}

.textcard {
    margin-bottom: 10px;
    width: 83%;
    display: flex;
    flex-direction: column;
}

.downcard {
    width: 100%;
    margin: 0px 20px;
}

.textcard h1 {
    min-height: 34px;
    font-weight: 700;
    font-size: 14px;
    color: white;
}

.textcard h2 {
    font-weight: 800;
    font-size: 20px;
    transition: 0.8s;
    color: #0851DE;
}

:root {
    --gradient: linear-gradient(-30deg,
            #6A10EA,
            #6A10EA,
            #4A29A7,
            #292DA7,
            #292DA7,
            #292DA7);
}

.textcard a {
    transition: background-position 1s;
    position: relative;
    top: 5px;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
    height: 40px;
    background-image: var(--gradient);
    background-size: 300%;
    background-position: left;
    border-radius: 8px;
    font-weight: 700;
    color: white;
}

/* ico cardss */

.imgcard01 {
    margin: 10px 10px 0px 10px;
    width: 80%;
    height: 50%;
    border-radius: 8px;
    background-size: cover;
    background-position-x: 50%;
}

.card_i001 {
    background-image: url(assets/Sneakers/AirMaxFutura.webp);
}

.card_i002 {
    background-image: url(assets/Sneakers/2.webp);
}

.card_i003 {
    background-image: url(assets/Sneakers/3.webp);
}

.card_i004 {
    background-image: url(assets/Sneakers/4.webp);
}

.card_i005 {
    background-image: url(assets/Sneakers/5.jpg);
}

.card_i006 {
    background-image: url(assets/Sneakers/6.webp);
}

.card_i007 {
    background-image: url(assets/Sneakers/7.webp);
}

.card_i008 {
    background-image: url(assets/Sneakers/8.webp);
}

.card_i009 {
    background-image: url(assets/Sneakers/9.webp);
}

.card_i010 {
    background-image: url(assets/Sneakers/10.webp);
}
.card_i011 {
    background-image: url(assets/Sneakers/11.webp);
}
.card_i012 {
    background-image: url(assets/Sneakers/12.webp);
}
.card_i013 {
    background-image: url(assets/Sneakers/13.webp);
}
.card_i014 {
    background-image: url(assets/Sneakers/14.webp);
}
.card_i015 {
    background-image: url(assets/Sneakers/15.webp);
}